.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--semiDarkBlue);
  border-radius: 20px;
  padding: 2rem;
  align-items: center;
  padding-left: max(calc(50% - 400px / 2), 2rem);
  padding-right: max(calc(50% - 400px / 2), 2rem);
}

.paragraph {
  color: var(--pureWhite);
}

.navigation {
  display: flex;
  gap: 8px;
}

.link {
  color: var(--red);
}
