.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: hsl(var(--semiDarkBlue));
  border-radius: 20px;
  padding: 2rem;
  align-items: center;
  width: 400px;
}

.paragraph {
  color: hsl(var(--pureWhite));
}

.navigation {
  display: flex;
  gap: 8px;
}

.link {
  color: hsl(var(--red));
}
