:root {
  --red: 0, 97%, 63%;
  --semiDarkBlue: 223, 36%, 14%;
  --darkBlue: 223, 30%, 9%;
  --pureWhite: 0, 0%, 100%;
  --greyishBlue: 223, 23%, 46%;
  --container: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: hsl(var(--darkBlue));
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}
