/* Typography */
.headingLarge {
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.headingMedium {
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 300;
}

.headingSmall {
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 500;
}

.headingXSmall {
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 500;
}

.bodyMedium {
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
}

.bodyXSmall {
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
}

/* Color */
.red {
  color: hsl(var(--red));
  fill: hsl(var(--red));
}

.darkBlue {
  color: hsl(var(--darkBlue));
  fill: hsl(var(--darkBlue));
}

.semiDarkBlue {
  color: hsl(var(--semiDarkBlue));
  fill: hsl(var(--semiDarkBlue));
}

.greyishBlue {
  color: hsl(var(--greyishBlue));
  fill: hsl(var(--greyishBlue));
}

.pureWhite {
  color: hsl(var(--pureWhite));
  fill: hsl(var(--pureWhite));
}

.inputField {
  caret-color: var(--red);
  color: var(--pureWhite);
  padding-bottom: 14px;
  border-bottom: 1px solid hsl(var(--greyishBlue));
  background-color: transparent;

  &::placeholder {
    color: hsl(var(--greyishBlue));
  }
}

.button {
  cursor: pointer;
  background-color: hsl(var(--red));
  color: hsl(var(--pureWhite));
  border-radius: 6px;
  padding: 14px;
  width: 100%;

  &:hover {
    color: hsl(var(--darkBlue));
    background-color: hsl(var(--pureWhite));
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: max(calc(50% - var(--container) / 2), 2rem);
  padding-right: max(calc(50% - var(--container) / 2), 2rem);
}
