.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 75px;
  max-height: 960px;
  height: 100%;

  background-color: var(--semiDarkBlue);
  padding: 1.5rem;
  border-radius: 20px;
}

.avatar {
  position: absolute;
  bottom: 1.5rem;
  border: 1px solid var(--pureWhite);
  border-radius: 100%;
}
