.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.link {
  color: hsl(var(--greyishBlue));
  fill: hsl(var(--greyishBlue));

  &:hover {
    color: hsl(var(--red));
    fill: hsl(var(--red));
  }
}

.linkActive {
  color: hsl(var(--pureWhite));
  fill: hsl(var(--pureWhite));
}
