.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--semiDarkBlue);
  border-radius: 20px;
  padding: 2rem;
  align-items: center;
  width: 400px;
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  color: var(--pureWhite);
}

.paragraph {
  color: var(--pureWhite);
}

.link {
  color: var(--red);
}

.navigation {
  display: flex;
  gap: 8px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 85px;
  padding-top: 80px;
}
