.container {
  position: relative;
  width: fit-content;
  overflow: hidden;
  border-radius: 8px;
}

.thumbnail {
  height: 230px;
  width: 470px;
}

.list {
  display: flex;
  gap: 0.5rem;
}

.description {
  width: 100%;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, hsla(0, 0%, 0%, 0.75));
  z-index: 1;
  &:hover {
    .button {
      visibility: visible;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 9px;
  color: hsla(var(--pureWhite), 75%);
}
.list {
  opacity: 75%;
}
